html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1
{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: 300;
    font-size: 5vmin;
    color: mediumorchid;
}

/*============================================================================================================
 * Styles for the deck of cards
 *==========================================================================================================*/
.deck
{
    width: 80vmin;
    min-height: 80vmin;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 3vmin;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card
{
    height: 16vmin;
    width: 16vmin;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open
{
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show
{
    font-size: 5vmin;
}

.deck .card.match
{
    cursor: default;
    background: #02ccba;
    font-size: 5vmin;
}

.deck .card.wrong
{
    cursor: default;
    background: #ff0000;
    font-size: 5vmin;
}

/*============================================================================================================
 * Styles for the Score Panel
 *==========================================================================================================*/
.score-panel
{
    text-align: left;
    font-size: 3vmin;
    width: 80vmin;
    margin-bottom: 1vmin;
    color: mediumorchid;
}

.score-panel .stars
{
    margin: 0;
    padding: 1vmin;
    float: left;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
    font-size: 4vmin;
}

.score-panel .stars .grey
{
  color: grey;
}

.score-panel .stars li
{
    list-style: none;
    display: inline-block;
}

.score-panel .moves
{
  font-size: 3vmin;
  padding: 1vmin;
}

.score-panel .timer
{
  float: right;
  padding: 1vmin;
  font-size: 3vmin;
}

.score-panel .restart
{
    float: right;
    cursor: pointer;
    font-size: 4vmin;
    padding: 1vmin;
    color: darkturquoise;
}

/*============================================================================================================
 * Styles for the Modal Box
 *==========================================================================================================*/
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 35vmin;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    background-color: #fefefe;
    margin: auto;
    width: 35%;
}

.modal-header
{
  background-color: darkturquoise;
  color: white;
  font-size: 4vmin;
  font-weight: bold;
  text-align: center;
  padding: 2vmin;
}

.modal-body
{
  color: mediumorchid;
  text-align: center;
  font-size: 2vmin;
  padding: 2vmin;
}

.button
{
  text-align: center;
  padding: 1vmin;
}

.new-game-button
{
  border: dark-grey 1vmin;
  border-radius: 15px;
  background-color: darkturquoise;
  color: white;
  font-family: 'Arial Rounded MT Bold', sans-sans-serif;
  font-size: 1.3vmin;
  text-align: center;
  width: 10vmin;
  height: 5vmin;
  cursor: pointer;
}
